/.idea/.idea.MyFirstCoolTESTGame.dir/.idea/
/.vs/
/Binaries/
/Build/
/DerivedDataCache/
/Intermediate/
/Saved/
/Content/Characters/Textures
/Content/Enironment/Textures
/Content/ShooterGameContent
*sln